<Datacenters>
    <Datacenter>
        <Name>OnPrem-1</Name>
        <IP>10.1.255.90</IP>
        <Cluster>OnPrem-1-UCS</Cluster>

        <Template>
            <GUI>Win2k16_DC_Template</GUI>
            <Core>Win2k16-CORE_DC_Template</Core>
        </Template>
        <VLAN>
            <Prod>Prod Servers-(10.1.100.x)</Prod>
            <DMZ>Web-DMZ-(10.1.11.x)</DMZ>
            <QA>QA-(10.1.200.x)</QA>
            <DEV>DEV-(10.1.201.x)</QA>
        </VLAN>

        <Defaults>
            <Datastore>datastore-01</Datastore>
            <OU>Prod Servers</OU>
        </Defaults>
    </Datacenter>
</Datacenters>
